# Blacklist all files and directories
/*

# But not the README or the gitignore itself
!.gitignore
!README.org

# Include the main init and early init files
!init.el
!early-init.el

# Include the configuration Org file
!C4.org
